#header{
    min-height:8rem;
    width:100%;
    background-color: #0F172A;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
}
#logo{
    width:9rem;
    height:9rem;
    
}

#logodiv{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    cursor:pointer;
}
#logodiv::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-2px;
    width:0;
    height:0;
    transition:width 0.4s ease;
    background-color:transparent;
}
#logodiv:hover::after{
    width:55%;
    height:80%;
    border:4px solid red;
    margin:0rem 0rem 0.8rem 5rem;
    box-shadow:0 0 15px 3px rgba(0, 153, 255, 0.4);
    border-radius:20px;

}
#navlist{
    display:flex;
    justify-content:column;
    align-items:center;
    list-style-type:none;
    gap:2rem;
    
}
#navdiv{
    height:8rem;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.menu{
    text-decoration:none;
    font-weight:bold;
    color:white;
    position:relative;
}
.menu::after{
    content:"";
    position:absolute;
    width:0;
    left:0;
    bottom:-3px;
    background-color:red;
    transition:width 0.4s ease;
    height:3px;


}
.menu:hover::after{
    width:60%;
}
@media only screen and (max-width:1370px){
    .menu{
        display:none;
    }
}
#callus{
    background-color:orangered;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    height:3rem;
    width:6rem;
    font-family:sans-serif;
    font-weight:bold;
    position:relative;
    border:0px;
    cursor:pointer;
}
@media only screen and (max-width:1370px){
    #callus{
        display:none;
    }
}
#call{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
}
@media only screen and (max-width:1370px){
    #call{
        display:none;
    }
}
#callus:hover{
    color:orangered;
    background-color:white;
}
#is{
    color:orangered;
}
#h1{
    color:white;
    font-size:4rem;
    margin-bottom:0.5rem;
}
p{
    color:grey;
    margin-top:0.3rem;
}
#section{
  background:
    radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(135deg, #0b1c2d, #0a2540);
  background-size: 40px 40px, cover;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  min-height:60rem;
  height:auto;
}
@media only screen and (max-width:1370px){
    #section{
        width:100%;
    }
}
@media only screen and (max-width:500px){
    #h1{
        font-size:2rem;
    }
}
#welding{
    height:30rem;
    width:30rem;
    top:5px;
    border:none;
    transition:transform 0.4s ease;
}
@media only screen and (max-width:1370px){
    #welding{
        display:flex;
        justify-content:center;
        align-items:center;
        height:20rem;
        width:20rem;
    }
}
#welding:hover{
    border:2px solid red;
    transform:scale(1.05);
}
#quote{
    color:white;
    font-weight:bold;
    background-color:orangered;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:3rem;
    width:7rem;
    cursor:pointer;
    border-radius:10px;
    border:0px;
}
#container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:8rem;
}
@media only screen and (max-width:1370px){
    #container{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
}
#section2{
    background-color:#0F172A;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:600px;
    height:auto;
    width:100%;
}
@media only screen and (max-width:1370px){
    #section2{
        width:100%;
    }
}
#container2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}
.cards{
    display:flex;
    justify-content:space-between;
    gap:2rem;
}

@media only screen and (max-width:1370px){
    .cards{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
}

.card{
    height:14rem;
    width:18rem;
    background-color:grey;
    border-radius:10px;
    background:
    radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(135deg, #0b1c2d, #0a2540);
    background-size: 40px 40px, cover;
    padding:15px;
    transition:transform 0.4s ease;
}
@media only screen and (max-width:1370px){
    .card{
        align-self:center;
    }
}
.card:hover{
    border:2px solid red;
    transform:scale(1.05);
}
.ri-tools-line{
    font-size:3rem;
    color:white;
    border-radius:10px;
    background-color:orangered;
    margin:0px 0px 0px 2px;
}
.ri-tools-line:hover{
    color:orangered;
    background-color:white;
}
.ri-settings-line{
    font-size:3rem;
    color:white;
    border-radius:10px;
    background-color:orangered;
    margin:0px 0px 0px 2px;
}
.ri-settings-line:hover{
    color:orangered;
    background-color:white;
}
.ri-hotel-line{
    font-size:3rem;
    color:white;
    border-radius:10px;
    background-color:orangered;
    margin:0px 0px 0px 2px;
}
.ri-hotel-line:hover{
    color:white;
    background-color:orangered;
}
.ri-stack-line{
    font-size:3rem;
    color:white;
    border-radius:10px;
    background-color:orangered;
    margin:0px 0px 0px 2px;
}
.ri-stack-line:hover{
    color:white;
    background-color:orangered;
}
.cardh{
    color:white;
}

.ri-menu-line{
    font-size:3rem;
    color:white;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    cursor:pointer;
    display:none;
}
@media only screen and (max-width:1370px){
    .ri-menu-line{
        display:flex;
    }
}
#toggle{
    display:none;
}
@media only screen and (max-width:1370px){
    #toggle{
        display:flex;
        margin:0px 1.5rem 0px 0px;
    }
}
#call2{
    display:flex;
    justify-content:center;
    align-items:center;
    height:3rem;
    width:7rem;
    background-color:white;
    color:orangered;
    border:0px;
    font-family:sans-serif;
    font-weight:bold;
    border-radius:10px;
    display:none;
}
@media only screen and (max-width:1370px){
    #call2{
        display:flex;
    }
}

#section3{
    background-color: black;
    min-height:600px;
    height:auto;
    width:100%;
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media only screen and (max-width:1370px){
    #section3{
        width:100%;
    }
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.ri-award-line{
    font-size:3rem;
    color:orangered;
    border-radius:10px;
    margin:0px 0px 0px 2px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.ri-shield-line{
    font-size:3rem;
    color:orangered;
    border-radius:10px;
    margin:0px 0px 0px 2px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.ri-timer-2-line{
    font-size:3rem;
    color:orangered;
    border-radius:10px;
    margin:0px 0px 0px 2px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card2{
    height:14rem;
    width:20rem;
    border-radius:10px;
    padding:15px;
    background:transparent;
}
@media only screen and (max-width:1370px){
    .card2{
        align-self:center;
    }
}
.card2:hover{
    border:2px solid red;
}
#section4{
    background-color: #0F172A;
    min-height:200px;
    height:auto;
    width:100%;
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media only screen and (max-width:1370px){
    #section4{
        width:100%;
    }
}
.card3{
    height:14rem;
    width:20rem;
    border-radius:10px;
    padding:15px;
    background:transparent;
}
@media only screen and (max-width:1370px){
    .card3{
        align-self:center;
    }
}
.card3:hover{
    border:2px solid red;
}
.cardh2{
    color:orangered;
    font-size:3rem;
}
#section5{
    background:
    radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(135deg, #0b1c2d, #0a2540);
    background-size: 40px 40px, cover;
    min-height:600px;
    height:auto;
    width:100%;
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media only screen and (max-width:1370px){
    #section5{
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
#ratingimg{
    height:2rem;
    width:3rem;
}
.card4{
    background-color:white;
    width:100%;
    padding:40px;
}
.ri-arrow-right-line{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-size:3rem;
}
.ri-arrow-left-line{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size:3rem;
}
#arrowwrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8rem;
}
#previous{
    border-radius:50%;
    min-width:6%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:orangered;
    color:white;
    cursor:pointer;
}
#previous:hover{
    background-color:white;
    color:orangered;
}
#next{
    border-radius:50%;
    min-width:6%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:orangered;
    color:white;
    cursor:pointer;
}
#next:hover{
    background-color:white;
    color:orangered;
}
#cardscontainer{
    width:600px;
}
#card5{
    background-color:white;
    width:1100px;
    padding:40px;
}
@media only screen and (max-width:1000px){
    #card5{
        width:380px;
        align-self:center;
    }
}
.cardscontainer{
    align-self:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
#section6{
    background-color:orangered;
    min-height:220px;
    height:auto;
    width:100%;
    margin:0px;
    padding:40px;
}
@media only screen and (max-width:1370px){
    #section6{
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
#hs6{
    color:white;
    font-size:3rem;

}
@media only screen and (max-width:1370px){
    #hs6{
        font-size:1rem;
    }
}
#ps6{
    color:white;
    
}
@media only screen and (max-width:1370px){
    #ps6{
        font-size:0.7rem;
    }
}
#container6{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12rem;
    
}
@media only screen and (max-width:1370px){
    #container6{
        gap:3rem;
    }
}
@media only screen and (max-width:380px){
    #container6{
        gap:2rem;
    }
}
@media only screen and (max-width:350px){
    #container6{
        gap:1.0rem;
    }
}
#whatsappnow{
    background-color:white;
    color:orangered;
    height:3rem;
    width:8rem;
    border:0px;
    border-radius:10px;
    cursor:pointer;
}
@media only screen and (max-width:1370px){
    #whatsappnow{
        width:15rem;
        height:3rem;
    }

}
#roughsection{
    background:
    radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(135deg, #0b1c2d, #0a2540);
    background-size: 40px 40px, cover;
    min-height:150px;
    height:auto;
    width:100%;
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#navtogglelist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
}

/* Mobile only */
@media (max-width: 768px) {
    #navbar {
        display: none;
    }

    #toggle {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }
}
#logoimage2{
    height:12rem;
    width:13rem;
}
#container7{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
@media only screen and (max-width:1370px){
    #container7{
        flex-direction:column;
        gap:2rem;
    }
}
.menu2{
    text-decoration:none;
    font-weight:bold;
    font-size:1rem;
    color:grey;
}
.footerlist{
    list-style-type:none;
}
@media only screen and (max-width:1370px){
    .footerlist{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        align-self:center;
    }
}
.listheading{
    color:white;
    font-size:1.5rem;
    font-family:sans-serif;
}
@media only screen and (max-width:1370px){
    .listheading{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        align-self:center;
    }
}
.footerlogo{
    color:orangered;
}
#section7{
    background-color: #0F172A;
    height:auto;
    min-height:8rem;
    width:100%;
}
@media only screen and (max-width:1370px){
    #section7{
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
}
hr{
    height:0.1rem;
    background-color:grey;
}
#section8{
    background-color: #0F172A;
    min-height:5rem;
    height:auto;
    width:100%;
}
#container8{
    display:flex;
    justify-content:center;
    align-items:center;
}
#home1{
    color:orangered;
}
/* ===== MOBILE NAV TOGGLE LIST ===== */
#navtogglelist{
    position:absolute;
    top:8rem; /* header height ke just neeche */
    left:0;
    width:100%;
    background-color:#0F172A;
    display:none;
    z-index:999;
}

#navlist2{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:2rem 0;
    align-items:center;
}

#navlist2 .menu{
    font-size:1.2rem;
}

/* open state */
#navtogglelist.active{
    display:block;
}
/* FIX: show menu items inside mobile drawer */
@media only screen and (max-width:1370px){
    #navtogglelist .menu{
        display:block;
        color:white;
    }
}
.ri-close-line{
    color:white;
}
.telbtn{
    text-decoration:none;
}



